.memory-display {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 4px;
}

.word {
  border-style: solid;
  border-width: 2px;
  border-color: black;

  margin: 0px 4px 4px 0px;
  float: left;
}
.word:hover {
  border-color: yellow;
}


.occupied-unmarked {
  background-color: red;
}

.occupied-marked-safe {
  background-color: orange;
}

.occupied-marked-dead {
  background-color: gray;
}

.free {
  background-color: white;
}