.memory-display {
  display: inline-block;

  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 4px 0px 0px 4px;
}

.word {
  float: left;
  box-sizing: border-box;

  margin: 0px 4px 4px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;  
}
.word:hover {
  border-color: yellow;
}


.occupied-unmarked {
  background-color: red;
}

.occupied-marked-safe {
  background-color: orange;
}

.occupied-marked-dead {
  background-color: gray;
}

.free {
  background-color: white;
}