.word {
  float: left;
  box-sizing: border-box;

  margin: 0px 4px 4px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
/* When the cursor hovers above an unit, all units who belongs to the current fragment will be highlighted (marked as "word-selected"). */
.word:hover {
  border-color: yellow;
}

/* Class used to highlight other units who belongs to the current fragment, but the cursor it not directly above them. */
.word-selected {
  border-color: yellow;
}
.word-referenced {
  border-color: limegreen;
}

.unknown {
  background-color: lightgray;
}
.occupied-unmarked {
  background-color: rgb(255, 0, 0, 0.6);
}
.occupied-marked-alive {
  background-color: orange;
}
.occupied-marked-dead {
  background-color: gray;
}
.free {
  background-color: white;
}
