<!DOCTYPE html>
<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <div id="container" class="container">
        <div id="memory-display" class="memory-display">
            <!-- Worad units will be added at runtime -->
        </div>
        <canvas id="memory-overlay" class="memory-overlay"></canvas>
    </div>

    <div id="control-panel">
        <div class="control-group">
            <input type="number" id="heap-size" value=128 placeholder="Heap size">
            <button id="reset">Reset</button>
        </div>
        <div class="control-group">
            <button id="regenerate-objects">Randomize Object</button>
        </div>
        <div class="control-group">
            <button id="mark">Mark Heap</button>
            <button id="sweep">Sweep Heap</button>
        </div>
    </div>

    <!-- Make its contents go on a separate line regardless of their style -->
    <div>
        <fieldset id="keys" class="keys">
            <legend class="keys-legend">Keys</legend>
            <span class="key">Unknown: <div class="color-label unknown"></div></span>
            <span class="key">Free: <div class="color-label free"></div></span>
            <span class="key">Occupied, unmarked: <div class="color-label occupied-unmarked"></div></span>
            <span class="key">Occupied, marked, alive: <div class="color-label occupied-marked-alive"></div></span>
            <span class="key">Occupied, marked, dead: <div class="color-label occupied-marked-dead"></div></span>
        </fieldset>
    </div>
</body>

</html>
